.tokenlist-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  &_title {
    height: 100px;
    background-color: #00020D;
    position: relative;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: flex-end;
    padding-left: 28px;
    padding-right: 28px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
    img {
      width: 56px;
    }
  }

  &_empty-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: white;
    background-color: #00040c44;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    .medium-txt {
      font-size: 31px;
    }

    .small-txt {
      font-size: 22px;
      margin-top: 20px;
    }
  }  
}

@media only screen and (min-width: 980px) {
  .tokenlist-container .navbar-nav {
    display: none !important;
  }
}

@media only screen and (max-width: 979px) {
  .tokenlist-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #00040c;

    .navbar {
      padding: 12px 1rem !important;
    }

    &_title {
      height: inherit;
      min-height: 60px;
      background-color: #00020D;
      position: relative;
      justify-content: space-between;
      border-radius: 0px;

      img {
        width: 36px;
      }

      .navbar-toggler {
        width: 36px;
        height: 36px;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .burger-bar {
          width: 36px;
          height: 10px;
          background-image: linear-gradient(45deg, #2feec9, #166bde);
          border-radius: 1px;

          &:first-child {
            border-top-left-radius: 4px;
          }
          &:last-child {
            border-bottom-left-radius: 4px;
          }
        }
      }

      .nav-link {
        color: white;
      }
    }

    &_tokenlist-content {
      padding-bottom: 0;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;

      &_title, &_bottom {
        display: none;
      }

      &_body {
        padding: 14px;

        .select-search {
          margin-top: 0;

          &__select {
            display: none;
          }
        }
      }
    }

    &_empty-content {
      display: none !important;
    }
  }
}
