.btn-form-submit-group {
  padding-left: 8px;
  padding-right: 8px;
  .col {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.input-area-with-header_area {
  p {
    font-size: 12px;
    line-height: 18px !important;
  }
}